/*RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Global Styles*/
html {
    scroll-behavior: smooth;
}
  
body{
    /*background: linear-gradient(to bottom right, #099aa1, #0075d5);*/
    background-color: #0173d4;
    font-family: 'Open Sans', sans-serif;
}

a:visited {
    color: #099aa1; /* Cambia el color según tus preferencias */
}

footer{
    background-color: #099aa1;
    height: 100px;
}
footer div{
    color: #fff;
    padding: 40px;
}

.Navbar{
    background-color: #0561a8;
    padding: 10px;
    text-align: end;
    z-index: 1;
    position: fixed;
    width: 100%;
}
.Navbar label{
    color: #fff;
    margin-right: 50px;
    font-size: 30px;
}

.Big-Image
{
    width: 100%;
    height: 100%;
}

.WA_button 
{
    background-color: #0f8be9;
    color: #fff;
    border-color: #fff;
    width: 30vw;
    height: 80px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 2vw;
}

#Inicio{
    position: relative;
}
.AgendaTuCita{
    position: absolute;
    top: 5%;
    left: 5%;
}
.AgendaTuCita label
{
    color: #fff;
    font-weight: bold;
    font-size: 5vw;
    margin-bottom: 50%;
}

.Servicio
{
    color: #fff;
    font-weight: bold;
    padding: 20px;
    position: relative;
    font-size: 3vw;
}
ul 
{
    list-style-type: circle;
}
.Right{
    position: absolute;
    right: 20px;
    padding: 20px;
}
.Left{
    position: absolute;
    left: 20px;
    padding: 20px;
}

.Light{
    color: #79e5ed;
    font-size: 4vw;
}

/*Servicios*/
#Tratamiento{
    margin-bottom: 40vw;
}
#Ortodoncia{
    width: 40vw;
}
.Serv-img{
    border-radius: 500px;
    width: 30vw;
    height: 30vw;
}
#Opcion{
    width: 40vw;
    bottom: 30%;
}
#Obturacion{
    width: 40vw;
}
#Onturacion{
    position: absolute;
    right: 20px;
}
#Ultrasonido{
    bottom: 40%;
    width: 40vw;
}

@media (max-width: 580px)
{
    .WA_button 
    {
        width: 20vw;
        height: 5vh;
    }
}

@media (max-width: 280px)
{
    .WA_button 
    {
        position: absolute;
        top: 50%;
    }
}

  